.container{
    padding: 20px;
    width: 10%;
    margin: 0px auto;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.buttonStyle{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 5px,
}